<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/output.css">
    <title>Créer une Annonce</title>
</head>
<body class="bg-gray-100">

    <%- include("../components/header.ejs") -%>

    <div class="container mx-auto mt-10">
        <div class="p-8 mx-auto bg-white rounded-lg shadow-md max-w-7xl">
            <h1 class="mb-4 text-xl font-bold">Créer une Annonce</h1>
            <form action="/posts/create" method="POST" id="form">
                <div class="flex mb-4">
                    <label for="imgFilee" class="mr-2">Déposer les images (3) :</label>
                    <div class="relative">
                        <label for="imgFile" class="px-2 py-1 text-white bg-blue-500 rounded-md cursor-pointer">
                            Choisir un fichier
                        </label>
                        <input type="file" id="imgFile" name="images" class="hidden" accept="image/*" multiple>
                        <input type="hidden" id="base64" name="base64">
                        <% if (errors) { %>
                          <p class="text-red-500">Dépose à nouveau tes images</p>
                        <% } %>
                    </div>
                </div>

                <label for="objectName" class="block mb-2">Titre :</label>
                <input type="text" id="title" name="title" class="w-full p-2 mb-4 border rounded-md" required value="<%= formData ? formData['title'] : '' %>">
                <% if (errors && errors.some(e => e.path=="title")) { %>
                  <p class="text-red-500"><%= errors.find(e => e.path=="title").message %></p>
                <% } %>

                <label for="price" class="block mb-2">Prix :</label>
                <input type="number" id="price" name="price" max="10000" min="0" class="w-full p-2 mb-4 border rounded-md" required value="<%= formData ? formData['price'] : '' %>">
                <% if (errors && errors.some(e => e.path=="price")) { %>
                  <p class="text-red-500"><%= errors.find(e => e.path=="price").message %></p>
                <% } %>

                <label for="state" class="block mb-2">État :</label>
                <select id="state" name="state" class="w-full p-2 mb-4 border rounded-md" required>
                    <option value="great">Très bon</option>
                    <option value="good">Bon</option>
                    <option value="ok">Correct</option>
                    <option value="used">Usé</option>
                </select>
                <% if (errors && errors.some(e => e.path=="state")) { %>
                  <p class="text-red-500"><%= errors.find(e => e.path=="state").message %></p>
                <% } %>

                <label for="description" class="block mb-2">Description (facultative) :</label>
                <textarea id="description" name="description" placeholder="Veuillez renseigner toutes autres informations pertinentes, telles que : la faculté, l'auteur, l'année, etc." class="w-full p-2 mb-4 border rounded-md resize-none"><%= formData ? formData['description'] : '' %></textarea>
                <% if (errors && errors.some(e => e.path=="description")) { %>
                  <p class="text-red-500"><%= errors.find(e => e.path=="description").message %></p>
                <% } %>

                <div class="flex justify-between">
                    <input type="button" class="px-2 py-1 text-white bg-blue-500 rounded-md" onclick="uploadImages()" value="Créer l'annonce">
                    <a href="/profile" class="px-2 py-1 ml-auto text-gray-500 bg-gray-200 rounded-md">Annuler</a>
                </div>
            </form>
        </div>
    </div>

    <script>
      function uploadImages() {
          var fileInput = document.getElementById('imgFile');
          var base64Input = document.getElementById('base64');
          var files = fileInput.files;
          var base64Array = [];

          function readAndEncode(index) {
              if (index < files.length) {
                  var reader = new FileReader();

                  reader.onload = function(e) {
                      var base64String = e.target.result;
                      base64Array.push(base64String);

                      // Continue to the next file
                      readAndEncode(index + 1);
                  };

                  reader.readAsDataURL(files[index]);
              } else {
                  // All files are processed, set the value of the hidden input
                  base64Input.value = JSON.stringify(base64Array);

                  // Now you can submit the form
                  document.getElementById('form').submit();
              }
          }

          // Start the process with the first file
          readAndEncode(0);
      }
    </script>
</body>
</html>
