<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/public/css/output.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@glidejs/glide/dist/css/glide.core.min.css">
    <title>Détail du Produit</title>
</head>

<%- include("../components/header.ejs") %>

<body class="min-h-screen bg-gray-100">
    <div class="max-w-screen-lg p-6 pb-10 mx-auto mt-20 sm:px-6 lg:px-8">
        <div class="p-8 overflow-hidden bg-gray-100 border border-gray-400 rounded-lg shadow-md">
            <div class="flex flex-col md:flex-row">
                <div class="md:w-1/2 md:pr-6">
                    <div class="glide">
                        <div class="glide__track" data-glide-el="track">
                            <ul class="glide__slides">

                                <% if (post.pictures.length <= 0)  { %>
                                    <li class="glide__slide">
                                        <img src="/public/images/book_placeholder.png" class="w-full" style="width: 100%; height: auto">
                                    </li>
                                <% } else { %>
                                    <% for ( let i=0; i < post.pictures.length; i++) { %>
                                        <li class="glide__slide">
                                            <img src="<%= post.pictures[i] %>" class="w-full" style="width: 100%; height: auto;">
                                        </li>
                                    <% } %>
                                <% } %>
                            </ul>
                        </div>
                        <div class="flex items-center justify-between mt-4 glide__arrows" data-glide-el="controls">
                            <button class="p-2 text-gray-700 bg-gray-300 rounded-full glide__arrow glide__arrow--left" data-glide-dir="<">
                                <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7"></path>
                                </svg>
                            </button>
                            <button class="p-2 text-gray-700 bg-gray-300 rounded-full glide__arrow glide__arrow--right" data-glide-dir=">">
                                <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"></path>
                                </svg>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="flex flex-col justify-between md:w-1/2 md:pl-6">
                    <div>
                        <h2 class="mb-4 text-3xl font-bold text-gray-800"><%= post.title %></h2>
                        <p class="mb-4 text-2xl font-bold text-gray-800">Prix : <%= post.price %>€</p>
                        <p class="mb-4 text-xl text-gray-700">État : <%= post.state %></p>
                        <p class="mb-4 text-xl text-gray-600">
                            Vendeur: <%= post.refUser.name %>
                        </p>
                        <p class="mb-4 text-xl text-gray-600">
                            <%= (post.refUser.ranking.length > 0)
                            ? "Note vendeur: " + (post.refUser.ranking.reduce((sum, num) => sum + num, 0) / post.refUser.ranking.length) + "/5"
                            : "Aucune note pour le moment" %>
                        </p>
                        <div class="mb-8">
                            <span class="text-xl font-bold text-gray-700">Description:</span>
                            <p class="mt-2 text-lg text-gray-600">
                                <%= (post.description.length > 0)
                                ? post.description
                                : "Aucune description pour le moment"
                                 %>
                            </p>
                        </div>
                    </div>
                    <div>
                        <button class="w-full px-6 py-3 text-lg font-bold text-white bg-blue-500 rounded-md hover:bg-blue-600">Je suis intéressé(e)</button>

                        <% if (user && user.role === "admin") { %>
                        <div class="flex flex-col mt-4 md:flex-row">
                          <button class="w-full px-6 py-3 mb-4 mr-0 text-lg font-bold text-white bg-red-500 rounded-md md:w-1/2 hover:bg-red-700 md:mr-2 md:mb-0">
                              Ban ad
                          </button>
                          <button class="w-full px-6 py-3 ml-0 text-lg font-bold text-white bg-red-500 rounded-md md:w-1/2 hover:bg-red-700 md:ml-2">
                              Ban user
                          </button>
                        </div>
                        <% } %>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/@glidejs/glide"></script>
    <script>
        new Glide('.glide').mount()
    </script>
</body>

</html>
