<!doctype html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/public/css/output.css" rel="stylesheet">
</head>

<body>

  <%- include("../components/header.ejs") %>

  <button id="toggleFiltresButton" class="block px-4 py-2 m-4 mx-auto text-white bg-blue-900 rounded-md lg:hidden">Afficher les filtres</button>

  <main class="flex justify-center mt-10 lg:mx-1/5">
    
    <!-- Filtres de recherches -->
    <section id="filtresSection" class="hidden bg-gray-100 border-2 border-gray-200 border-solid rounded-md lg:w-1/5 lg:block">
      <h2 class="p-4 text-xl font-semibold text-center">Recherche et Filtres</h2>
      <form action="#" method="get" id="filtres" class="flex flex-col items-center justify-start py-4 max-w-prose">
        <input type="search" name="Search" placeholder="Recherche" id="search-bar"
        class="block py-2 pl-3 mb-4 leading-normal text-gray-900 border-0 rounded-md h-fit ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset">

        <label for="courses">Code du cours:</label>
        <select name="codeCours" id="codeCours" form="filtres" class="block py-2 pl-3 mt-1 mb-4 text-center rounded-md ring-1 ring-gray-300">
          <% for(var i=0; i < listOfCourses.length; i++) { %>
            <option value="<%= listOfCourses[i] %>"><%= listOfCourses[i] %></option>          
          <% } %>
        </select>

        <label for="price">Prix maximum:</label>
        <!-- l'attribut step permet les nombres à virgule -->

        <input type="number" id="price" name="price" min="0" step="0.01" 
        class="block py-2 pl-3 mt-1 mb-4 text-center rounded-md ring-1 ring-gray-300">

        <label for="rating">Note minimum du vendeur:</label>
        <input type="number" id="rating" name="rating" min="1" max="5" 
        class="block py-2 pl-3 mt-1 mb-4 text-center rounded-md ring-1 ring-gray-300">

        <button type="submit" class="block px-4 py-2 font-semibold text-white transition-all bg-blue-900 rounded-md hover:bg-blue-700">Appliquer</button>

      </form>
    </section>
    
    <!-- Annonces -->
    <section id="announcesSection" class="w-full lg:w-3/5">
      <h2 class="p-4 text-4xl font-semibold text-center">Annonces</h2>
      
      <div class="flex flex-col items-center justify-center">
        <% for(var i=0; i < annonces.length; i++) { %>
          <div class="flex flex-row w-4/5 p-4 my-4 bg-gray-100 border-black rounded-md shadow-md">
            <img src="#" class="object-cover w-32 h-32 md:w-40 md:h-40">
            <div class="flex flex-col w-full px-4">
              
              <div class="flex flex-row justify-between pb-2">
                <!-- Replacer href avec id de l'annonce pour la page -->
                <a href="#" class="text-2xl font-semibold"><%= annonces[i].objectName %></a>
                <span class="text-2xl font-bold"><%= annonces[i].price %>€</span>
              </div>
              <span><%= annonces[i].seller %> <%= annonces[i].sellerRating %>/5</span>
              <span>état : <%= annonces[i].state %></span>
            </div>

          </div>
        <% } %>
    </div>

    </section>
  </main>

</body>

<script src="/public/js/index.js"></script>

</html>
