<!DOCTYPE html>
<html lang="fr">
<head>
  <title>Accueil</title>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/public/css/output.css" rel="stylesheet">
</head>

<body class="bg-gray-100">

  <%- include("../components/header.ejs") %>

  <button id="toggleFiltresButton" class="block px-4 py-2 m-4 mx-auto text-white bg-blue-900 rounded-md lg:hidden">Afficher les filtres</button>
  <div class="flex justify-center mt-4">
    <h2 class="hidden w-1/5 p-4 text-4xl font-semibold text-center lg:block">Filtres</h2>
    <h2 id="annoncesDeVentes" class="block w-3/5 p-4 text-4xl font-semibold text-center">Annonces de ventes</h2>
  </div>

  <main class="flex items-start justify-center mt-4 lg:mx-1/5">
    
    <!-- Filtres de recherches -->
    <section id="filtresSection" class="hidden bg-white border-solid rounded-md shadow-md lg:w-1/5 lg:block">
      
      <form action="#" method="get" id="filtres" class="flex flex-col items-center justify-start py-4 max-w-prose">
        <input type="search" name="Search" placeholder="Recherche" id="search-bar"
        class="block py-2 pl-3 mb-4 leading-normal text-gray-900 border-0 rounded-md h-fit ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset">

        <label for="price">Prix maximum:</label>
        <!-- l'attribut step permet les nombres à virgule -->

        <input type="number" id="price" name="price" min="0" max="10000" step="0.01" 
        class="block py-2 pl-3 mt-1 mb-4 text-center rounded-md ring-1 ring-gray-300">

        <label for="rating">Note minimum du vendeur:</label>
        <input type="number" id="rating" name="rating" min="1" max="5" 
        class="block py-2 pl-3 mt-1 mb-4 text-center rounded-md ring-1 ring-gray-300">

        <button type="submit" class="block px-4 py-2 font-semibold text-white transition-all bg-blue-500 rounded-md hover:bg-blue-600">Appliquer</button>

      </form>
    </section>
    
    <!-- Annonces -->
    <section id="announcesSection" class="w-full px-8 lg:w-3/5">
      
      <div class="flex flex-col items-center justify-center">
        <% for(var i=0; i < posts.length; i++) { %>
          <a href="/posts/<%= posts[i].id %>" class="w-full h-full mb-8">
            <div class="flex flex-row w-full p-4 bg-white border-black rounded-md shadow-md">
              <img src="<%= posts[i].pictures.length > 0 ? posts[i].pictures[0] : 'public/images/book_placeholder.png' %>" class="object-cover w-32 h-32 md:w-40 md:h-40">
              <div class="flex flex-col w-full px-4">
                
                <div class="flex flex-row justify-between pb-2">
                  <h1 class="text-2xl font-semibold"><%= posts[i].title %></h1>
                  <span class="mb-4 ml-4 text-2xl font-bold"><%= posts[i].price %>€</span>
                </div>
                <span><%= posts[i].seller %> <%= 
                    (posts[i].refUser.ranking.length > 0)
                    ? "Note: " + (posts[i].refUser.ranking.reduce((sum, num) => sum + num, 0) / posts[i].refUser.ranking.length) + "/5"
                    : "Aucune note"
                %></span>
                <span>État: <%= posts[i].state %></span>
              </div>

            </div>
          </a>
        <% } %>
    </div>

    </section>
  </main>

</body>

<script src="/public/js/index.js"></script>

</html>
