<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/output.css">
    <title>Profil</title>
</head>

<body class="bg-gray-100">

    <%- include("../components/header.ejs") -%>

    <div class="container mx-auto mt-10">
        <div class="p-6 bg-white rounded-lg shadow-md">
            <div class="flex flex-col items-center md:flex-row md:items-start">
                <div class="p-4">
                    <h1 class="text-2xl font-bold"><%- user.name %></h1>
                    <p class="text-gray-500"><%- user.email %></p>
                    <a href="/auth/logout" type="submit"
                        class="px-4 py-2 mt-5 font-bold text-white bg-red-500 rounded-md hover:bg-red-700">Déconnexion</a>
                </div>
            </div>
            <div class="p-4">
                <div class="flex items-center justify-between mb-4">
                    <h2 class="text-2xl font-bold">Mes annonces</h2>
                    <a href="/profile/create"
                        class="px-4 py-2 font-bold text-white bg-blue-500 rounded-md hover:bg-blue-600">Ajouter une annonce</a>
                </div>
                <div class="flex flex-wrap justify-start gap-4">
                    <% if (posts.length <= 0) { %>
                        <div class="p-4 bg-white rounded-lg shadow-md">
                            <p class="text-xl font-bold">Vous n'avez pas encore d'annonces</p>
                        </div>
                    <% } else { %>
                        <% for (let i=0; i < posts.length; i++) { %>
                            <a href="/post/<%= posts[i].id %>">
                            <div class="p-4 bg-white rounded-lg shadow-md">
                                <% if (posts[i].pictures.length > 0) { %>
                                    <img src="<%= posts[i].pictures %>" class="object-cover w-64 h-64 mb-4 rounded-lg">
                                <% } else { %>
                                    <img src="/public/images/book_placeholder.png" class="object-cover w-64 h-64 mb-4 rounded-lg">
                                <% } %>
                                <div>
                                    <h3 class="text-xl font-bold"><%= posts[i].title %></h3>
                                    <p><%= posts[i].price %>€</p>
                                </div>
                            </div>
                            </a>
                        <% } %>    
                    <% } %>
                </div>
            </div>
        </div>
    </div>

</body>

</html>
